.hide {
    display: none;
  }
  
  button {
    display: inline-block;
    background-color: #2e003d;
    color: white;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 4px;
  }

  #start-screen {
    width: 500px;
    margin: auto;
    text-align: center;
    
  }

  #start-game-btn {
    background-color: #2e003d;
  }


  
  .card {
    border: none;
  }
  
  .card-header {
    border: none;
  }
  
  p {
    font-size: 22px;
  }
  